body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(5, 5, 5, 1), rgba(5, 5, 5, 0.8));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

html {
    height: 100%;
}

ul {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 10px; /* Ajusta el padding según tus necesidades */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #3f3f3f;
    height: 15px;
}

li a {
    padding: 10px;
    margin-top: 10px;
    float: left;
    display: block;
    color: #f1faee;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    font-family: "inter", sans-serif;
}

.icono {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

li a:hover {
    background-color: #8db8bb;
    border-radius: 20px;
    padding: 8px;
    margin: 10px;
}

.titulos {
    color: #f1faee;
    font-size: 25px;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.contenedor {
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.referencia {
    text-decoration: none;
    color: #f1faee;
    background-color: #292929;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.contenedor_2 {
    margin: 100px auto;
}

.parrafos {
    color: #f1faee;
    font-size: 12px;
    font-family: "inter", sans-serif;
    line-height: 1.5;
    max-width: 70%;
}

.mini {
    font-size: 8px;
    color: rgba(241, 250, 238, 0.7);
}

.icono-personalizado {
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    background-color: #3f3f3f;
    color: #bfc9bc;
    padding: 4px 8px;
    font-size: 16px;
}

.imagen {
    width: 100%; /* Cambié a un ancho del 100% para que sea adaptable */
    max-width: 550px; /* Añadí un ancho máximo para evitar que sea demasiado grande en pantallas grandes */
    height: auto; /* Ajuste automático de la altura para mantener la proporción */
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: 15px;
}

/* Media query para estilos específicos de dispositivos móviles */
@media (max-width: 768px) {
    .contenedor {
        margin: 20px auto;
        padding: 15px;
    }

    .parrafos {
        max-width: 100%; /* Cambié a un ancho máximo del 100% para adaptarse a pantallas más pequeñas */
    }
}





